*.egg-info
*.mo
*.py?
*.sw?
/build
/.coverage
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/Sauce-Connect.jar
/docs/make.bat
/docs/Makefile
/bin/
/buildout-cache/
/buildout.cfg
/develop-eggs/
/dist/
/htmlcov/
/include/
/lib/
/local.cfg
/mockup
/nixenv
/parts/
/plone.app.contenttypes
/plone.app.event
/plone.app.querystring
/plone.app.vocabularies
/sauce_connect.log
/var/
/docs/html/
/docs/doctrees/
