[submodule "plone/app/widgets/resources/lib/ajax-chosen"]
	path = plone/app/widgets/resources/lib/ajax-chosen
	url = git://github.com/meltingice/ajax-chosen.git
[submodule "plone/app/widgets/resources/lib/pickadate"]
	path = plone/app/widgets/resources/lib/pickadate
	url = git://github.com/amsul/pickadate.js.git
