[buildout]
parts +=
    zopepy
    sphinxbuilder
    sphinxupload

versions=versions

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
eggs =
       Sphinx
       plone.app.robotframework
       sphinxcontrib-robotdoc
       sphinxcontrib-robotframework[docs]
       plone.app.widgets[test,dexterity]
scripts = sphinxbuilder

[sphinxupload]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    bin/zopepy setup.py upload_sphinx
output = ${buildout:directory}/bin/sphinxupload
mode = 755

[versions]
pygments = 1.6
