/* plone.widget.calendar.js */
.pickadate__calendar--wrap {
  max-width: 20em;
  min-width: 20em;
}
.pickadate__holder--opened .pickadate__calendar--wrap {
  top: 2em;
}
.pickadate__day {
  margin: 0;
  padding: 0.25em;
}
.plone-calendar > span {
  vertical-align: middle;
}

/* plone.widget.autocomplete */
.text-core .text-wrap .text-arrow {
  background-image: url("img/textext-arrow.png")
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
  background-image: url("img/textext-close.png");
}
#content textarea#subject-tags {
  width: 400px;
  height: 25px;
  font: 11px/13px "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: normal;
  overflow: hidden;
}
